.header {
    margin-top: 3rem;
    text-align: justify;}
.footer {
    margin-top: 3rem;
    text-align: center;
    min-width: 100%;
    background-color: #333;
    color: white;
    bottom: -10%;
    position: absolute;
    min-height: 250px;}
.secondline {
  font-size: 1.5rem;
  font-style: oblique;}
.post {
  font-size: 1.6rem;
}
