<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Vicente Yanez personal webpage</title>
  <meta name="description" content="">
  <meta name="author" content="Vicente Yañez Cuadra">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">

</head>
<body>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% if request.path == '/': %}
    <div class="container">
        <div class="row">
            <section class="header">
             <center><div class="four columns"><img class="circular_image" src="{{url_for('static', filename='images/me_2.jpg')}}"></div></center>
              <div class="eight columns">
                  <p>Welcome to my website, my name is Vicente and I am a Msc geophysics student (University of Chile) and a chilean geologist (University of Concepción). I am interested in geospatial, geophysical and geological data analysis than in classical geology (mapping, field job and stuff like that). Here you are going to find geospatial data analysis, tutorials, geology stuff and a lot of python code.</p>
              </div>
            </section>
        </div>
    </div>
    {% endif %}
    {% if request.path != '/': %}
    <!-- Navegation Bar -->
    <div class="container">
        <div class="row">
            <section class="header" style="text-align: center">
                <div class="twelve columns"><a href="/"><h5>Return</h5></a></div>
            </section>
        </div>
    </div>
    {% endif %}
    <!-- Content -->
    <div class="container" style="min-height:550px">
        {% block body %} {% endblock %}
    </div>
</body>

<!-- Footer  -->
<div class="footer">
    <div class="row">
        <div class="twelve columns">
            <h4>End of page... But wait! There is more</h4>
        </div>
    </div>
    <div class="row">
      <div class="four columns">
        <h5>Contact Me</h5>
        <ul>
            <li>vicenteyanez@protonmail.com</li>
            <li><a href="https://twitter.com/Exepal">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/vicente-y%C3%A1%C3%B1ez-64145b127/">Linkedin</a></li>
        </ul>
      </div>
      <div class="four columns">
          <h5>Fun links</h5>
          <ul>
              <li><a href="http://www2.udec.cl/geologia/">Geology, Universidad de Concepción</a></li>
          </ul>
      </div>
      <div class="four columns">
          <h5>Licence</h5>
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      </div>
    </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</html>
