<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Vicente Yanez personal webpage</title>
  <meta name="description" content="">
  <meta name="author" content="Vicente Yañez Cuadra">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">

</head>
<body>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% if request.path == '/': %}
    <div class="container">
        <div class="row">
            <section class="header">
             <center><div class="four columns"><img class="circular_image" src="{{url_for('static', filename='images/me_2.jpg')}}"></div></center>
              <div class="eight columns">
              Welcome to my website, my name is Vicente Yáñez Cuadra and I am a data scientist with a background in geoscience and experience in data research, analysis, and modeling. On the last two years, I worked on the Precursor project researching earthquakes using optimization and machine learning methods. I have developed advanced skills in data analysis, modeling and simulation, statistics and the ability to make informed data-based decisions and develop innovative solutions. My work is of high quality, as evidenced by its publication in high-impact scientific journals. Here you are going to find geospatial data analysis, tutorials and python code.
              </div>
            </section>
        </div>
    </div>
    {% endif %}
    {% if request.path != '/': %}
    <!-- Navegation Bar -->
    <div class="container">
        <div class="row">
            <section class="header" style="text-align: center">
                <div class="twelve columns"><a href="/"><h5>Return</h5></a></div>
            </section>
        </div>
    </div>
    {% endif %}
    <!-- Content -->
    <div class="container" style="min-height:550px">
        {% block body %} {% endblock %}
    </div>
</body>

<!-- Footer  -->
<div class="footer">
    <div class="row">
        <div class="twelve columns">
            <h4>End of page... But wait! There is more</h4>
        </div>
    </div>
    <div class="row">
      <div class="six columns">
        <h5>Contact Me</h5>
        <ul>
            <li>vicenteyanez@protonmail.com</li>
            <li><a href="https://www.linkedin.com/in/vyanezcuadra">Linkedin</a></li>
        </ul>
      </div>
      <div class="six columns">
          <h5>Licence</h5>
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      </div>
    </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</html>
