{% extends "base.html" %}

{% block body %}

<div class="row">
    <div class="nine columns", style="text-align: justify">
        <h3>What can I find here?</h3>
<p>Hello readers. First of all, I have to say that my English isn't perfect, so I am sorry if you read any misspell or grammatical error. Nonetheless, I will try to decrease them with all my strength.</p>

<p>With that already said, I will explain to you what you can find here. First, I have my blog posts where I use code or other tools to analyze something. It can be anything, but since I am a geologist you will find most of all, spatial analysis, chilean geology, and GNSS time series data analysis.</p>

<p> Also, I have a section with a list of my own projects. Right now my only project is <a href="https://github.com/VicenteYanez/GFA">GNSS Field Analysis (GFA)</a>, but when the blog gets bigger and GFA becomes more usable, I will start other projects.</p>
    </div>
    <div class="three columns">
        <h5>Menu bar</h5>
        <h6>Last Content</h6>
        <ul>
            {% for post in top5: %}
            <li><a href="">{{post[0]}}</a></li>
            {% endfor %}
        </ul>
        <h6>Categories</h6>
        <ul>
            {% for i in menu: %}
            <li><a href="/">{{i}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
