{% extends "base.html" %}

{% block body %}
<hr>
<div class="row">
    <div class="four columns">
       <!--<center><img class="circular_image" src="{{url_for('static', filename='images/xblog.png')}}"></center> -->
        <h5 style="text-align:center">Posts</h5>
        <p style="text-align:justify">Sometimes I write about thing that interest me.</p>
	<ul>
          {% for post in posts: %}
          <li><a href="/content/{{post[1]}}">{{post[0]}}</a></li>
          {% endfor %}
        </ul>
    </div>
    <div class="four columns">
        <!--<center><img class="circular_image" src="{{url_for('static', filename='images/xgraph.png')}}"></center>-->
        <h5 style="text-align:center">Projects</h5>
        <p style="text-align:justify">Here you can find a link to my gitlab projects.</p>
	<ul>
	  <li><a href="https://gitlab.com/vicenteyanez/GFA">GNSS Field Analysis (GFA)</a> - Python tools for the geospatial analysis of a velocity field, using Davis & Titus (2011) and Bevis & Brown (2014) papers</li>
	  <li><a href="https://gitlab.com/vicenteyanez/gravity_won_bevis_1987">Won and Bevis (1987) python implementation</a> - Code is based in the Won and Bevis (1988) gravity solution for a 2 dimensional body</li>
        </ul>
    </div>
    <div class="four columns">
     <!-- <center><img class="circular_image" src="{{url_for('static', filename='images/xmap.jpg')}}"></center>-->
      <h5 style="text-alig:center">Figures and Maps</h5>
      <p style="text-align:justify"></p>
      <ul>
	{% for map in maps: %}
	<li><a href="/maps/{{map[1]}}">{{map[0]}}</a></li>
        {% endfor %}
      </ul>
    </div>
</div>
<hr>
<div class="row">
    <div class="twelve columns">
        <ul>
        <h4>Publications</h4>
            <li><b>Yáñez-Cuadra, V.</b>, Moreno, M., Ortega-Culaciati, F., Donoso, F., Báez, J. C., & Tassara, A. (2023) Mosaicking Andean Morphostructure and Seismic Cycle Crustal Deformation Patterns using GNSS Velocities and Machine Learning. Frontiers in Earth Science, 11, 75.  https://doi.org/10.3389/feart.2023.1096238</li>
            <li><b>Yáñez-Cuadra, V.</b>, Ortega-Culaciati, F., Moreno, M., Tassara, A., Krumm-Nualart, N., Ruiz, J., et al. (2022). Interplate coupling and seismic potential in the Atacama Seismic Gap (Chile): Dismissing a rigid Andean sliver. Geophysical Research Letters, 49, e2022GL098257. https://doi.org/10.1029/2022GL098257</li>
        <h4>Presentations in Geosciences Conferences</h4>
            <li>Ortega-Culaciati, F.; <b>Yáñez-Cuadra, V.</b>;  Moreno, M.; Tassara, A.; Krumm-Nualart, N.; Ruiz, J.; Maksymowicz, A.; Manea, M.; Manea, V. C.; Geng, J.; Benavente, R. 2022. “Interplate Coupling and Seismic Potential in the Atacama Seismic Gap (Chile): Dismissing a Rigid Andean Sliver”. Japan Geoscience Union Japan Geoscience Union Meeting 2022</li>
            <li><b>Yañez, V.</b>; Ortega, F.; Moreno, M.; Tassara, A. 2019. Revisiting interseismic deformation and interplate coupling constrained by GNSS data in the Atacama district seismic gap, Chile. AGU Fall Meeting 2019.</li>
            <li><b>Yáñez, V.</b>; Tassara, A.; García, F. 2018. "GNSS Field Analysis" software libre para analizar series de tiempo GNSS y campos de deformación. XV Congreso Geológico Chile. Concepcion, Chile.</li>
            <li>Garcia, F.; Tassara, A.; <b>Yañez, V.</b> 2017. Current crustal deformation in the Southern Andes: Is there a connection with the latest volcanic eruptions? European Geosciences Union General Assembly 2017. Vienna</li>
            <li><b>Yáñez, V.</b>; Bataille, K.; García, F.; Tassara, A. 2016. Análisis De La Vorticidad Cortical En La Zona De Falla De Liquiñe-Ofqui. Primer Simposio De Tectónica Sudamericana. Santiago de Chile.</li>
            <li>García, F.; Tassara, A.; <b>Yáñez, V</b>. 2016. Deformación Actual En Los Andes Del Sur: Existe Alguna Conección Con Las Últimas Erupciones Volcánicas?. Primer Simposio De Tectónica Sudamericana. Santiago de Chile.</li>
            <li> Tassara, A.; Giorgis, S.; <b>Yáñez, V.</b>; Garcia, F.; Baez, J.C. y Lara, L. 2016. Volcanism and tectonics in action along the Southern Andes: space-time analysis of current deformation recorded by GNSS and seismicity. European Geosciences Union General Assembly 2016. Vienna.</li>
        </ul>
    </div>
</div>

{% endblock %}
