{% extends "base.html" %}

{% block body %}
<div class="row", style="text-align:center">
    <div class="four columns">
        <img class="u-max-full-width" src="{{url_for('static', filename='images/mapa.jpg')}}">
        <h5><a class="button" href="/blog">Blog</a></h5>
        I write about a lot of stuff in English and Spanish. Here you can find different analysis with no background requiere.
    </div>
    <div class="four columns">
        <img class="u-max-full-width" src="{{url_for('static', filename='images/graph.png')}}">
        <h5><a class="button" href="">Projects</a></h5>
        Here are my cool projects.
    </div>
    <div class="four columns">
        <img class="u-max-full-width" src="{{url_for('static', filename='images/db.jpeg')}}">
        <h5><a class="button" href="">Data</a></h5>
        I like to be as open as posible with all my work. If I can, here you are going to find different datasets totally free.
    </div>
</div>

{% endblock %}
