{% extends "base.html" %}

{% block body %}

<div class="row">
    <div class="nine columns", style="text-align: justify">
        <h2>Projects</h2>
        <p>Right now my only project is GNSS Field Analysis. There is a short description below.</p>
        </br>
        <h3>GNSS Field Analysis (GFA)</h3>
        <p> Althought GFA is still in development, it is already usable. In nutshell GFA have the functions to calculate vectors from a gnss time series data from the trajectory model of Bevis & Brown, 2014 and with this, obtain a velocity field that represent the cortical deformation.</p>
        <p>Here is an example of a time series (light blue dots), the trajectory model (green line) and the tangential velocity (red line)</p>
        <img class="u-max-80-width" src="{{url_for('static', filename='images/CLLA_tangent.png')}}">
        <p>After, for the calculation of the velocity field, GFA has the distance-weighed function from Cardozo & Allmendinger.</p>
        <p>Finally, from the velocity field this program include the tools to calculate the velocity tensor, and from this, the vorticity and stretching tensors (from the equations of Davis & Titus, 2011).</p>
        <p>Here is an example of the crustal vorticity calculated (grid) from the velocity calculated from the GNSS stations. The map show the chilean coast (black line) between the 36ºS and 46ºS (southern Andes).</p>
        <img class="u-max-50-width" src="{{url_for('static', filename='images/vorticity_weight_stat.png')}}">
        <p>You are welcome to help me with the code or use it in anything you want (GPL 3.0).</p>
        <ul>
            <li><a href="https://github.com/VicenteYanez/GFA">Github page</li>
        <ul>
    </div>
    <div class="three columns">
        <h5>Menu bar</h5>
        <h6>Projects (github link)</h6>
        <ul>
            {% for project in projects: %}
            <li><a href="{{ project[1] }}">{{ project[0] }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
